<html><head>
<style type="text/css">
${themeCSS}

.content {
	height: 100%;
	${if artwork}
		background-image:url('${artwork}');
		background-size:100% 100%;
		background-repeat:no-repeat;
	${end}
}

</style>

</head><body>
<div class="song-header">
<div class="title">${title}</div>
<div class="subtitle">${composer}   ${copyright}</div>
</div>
<div class="infotitle">${song_source}</div>
<div class="content">
${if plugin}
<span class="heading">Plugin: </span> ${plugin}<br/>
${end} 

${if format}
<span class="heading">Format: </span> ${format}<br/>
${end}

${if sidmodel}
<span class="heading">SidModel: </span> ${sidmodel}<br/>
${end}

${if videomode}
<span class="heading">VideoMode: </span> ${videomode}<br/>
${end}

${if sizeText}
<span class="heading">Size:</span> ${sizeText}<br/>
${end}
</div>
</html></body>